@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@rainbow-me/rainbowkit/styles.css';
@import './scrollbar.scss';
@import './typography.scss';

html {
  font-family: 'Satoshi', sans-serif;
  font-size: 14px;
  @screen md {
    font-size: 16px;
  }
}
